// _BlogPostCard.scss

$transition: 600ms all ease-in-out;

.BlogPostCard {
  border-bottom: 1px solid rgba(59, 1, 45, 0.08);
  margin-bottom: 32px;
  @include media-breakpoint-up(md) {
    margin-bottom: 64px;
  }

  &:hover {
    & .BlogPostCard__imageOverlay {
      opacity: 0.2;
    }
    & .BlogPostCard__excerpt,
    & .BlogPostCard__authorName {
      opacity: 0.9;
    }
  }

  &__link {
    /* overrule bootstrap default styles */
    color: inherit !important;
    text-decoration: none !important;
  }

  &__imageWrapper {
    margin-bottom: 24px;
    position: relative;
  }

  // this element is just used to darken the image
  &__imageOverlay {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 4px;
    transition: $transition;
  }

  &__image {
    border-radius: 4px;
  }

  &__title {
    color: map-get($brand-colors, 'purple-dark');
    font-family: map-get($brand-fonts, 'primary');
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;

    padding: 0 8px;
    margin-bottom: 16px;
    @include media-breakpoint-up (md) {
      padding: 0 16px;
    }
  }

  &__excerpt {
    color: map-get($brand-colors, 'purple-dark');
    font-family: map-get($brand-fonts, 'primary');
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.72;
    transition: $transition;
    
    padding: 0 8px;
    margin-bottom: 36px;
    @include media-breakpoint-up (md) {
      padding: 0 16px;
    }
  }

  &__authorAvatarAndNameWrapper {
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 24px;
  }

  /* here we break-out from BEM because we do NOT
  have full control of the markup (yet) 
  - so we have not added the BEM classes */
  &__authorAvatarAndNameWrapper img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: 16px;
  }

  &__authorName {
    color: map-get($brand-colors, 'purple-dark');
    font-family: map-get($brand-fonts, 'primary');
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.72;
    transition: $transition;
  }
}

.ToBlogButton {
  margin-top: 40px;
}