// _BlogPromo.scss

.BlogPromo {
  font-family: neue-haas-unica, sans-serif;
  padding-top: 64px;
  padding-bottom: 72px;
  @include media-breakpoint-up (md) {
    padding-top: 128px;
    padding-bottom: 98px;
  }


}