// ButtonSolid

// inspiration:
// https://moderncss.dev/css-button-styling-guide/

$btnColor: #ffc900;
$btnTextColor: #3b012d;

@mixin button-solid-base {
  // button resets
  border: none;
  font-family: map-get($brand-fonts, 'primary');
  padding: 0;
  // center horizontally/vertically
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $btnColor;
  transition: 220ms all ease-in-out;
  // state-styles
  &:hover,
  &:active,
  &:focus {
    background-color: scale-color($btnColor, $lightness: -20%);
  }
} 

.ButtonSolid {
  @include button-solid-base;
  border-radius: 12px; 
  font-size: 0.875rem; // => 14px
  padding: 0 20px;
  min-width: 122px;
  min-height: 40px; 
}

.ButtonSolid--medium {
  @include button-solid-base;
  border-radius: 16px;
  font-size: 0.9375rem; // => 15px
  padding: 0 24px;
  min-width: 134px;
  min-height: 48px;
  

}

.ButtonSolid--large {
  @include button-solid-base;
  border-radius: 20px;
  font-size: 1rem; // => 16px
  padding: 0 28px;
  min-width: 147px;
  min-height: 56px;
  
  & a {
    text-decoration: none;
    color: $btnTextColor;
  }
}

.ButtonSolid--extraLarge {
  @include button-solid-base;
  border-radius: 24px;
  font-size: 1.0625rem; // => 17px
  padding: 0 32px;
  min-width: 159px;
  min-height: 64px; 
}



