// _Button.scss

/* 

  When moving this code to sputnik,
  remember to use the maps for setting 
  the color variables

*/

$btnBackgroundColor: map-get($brand-colors, 'yellow-dark');
$btnBackgroundColor--ghost: #fff;
$btnTextColor: map-get($brand-colors, 'purple-dark');
$btnBorderColor: map-get($brand-colors, 'yellow-dark');

$btnBorderRadius: (
  'small': 12px,
  'medium': 16px,
  'large': 20px,
  'extra-large': 24px,
);

@mixin button-base {
  background-color: $btnBackgroundColor;
  display: inline-block;

  color: $btnTextColor !important; // overrule bootstrap; 
  font-family: map-get($brand-fonts, 'primary');
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  
  // state styles
  transition: 220ms all ease-in-out;
  &:hover,
  &:active,
  &:focus {
    background-color: scale-color($btnBackgroundColor, $lightness: -10%);
    text-decoration: none;
  }

  // modifiers
  &--ghost {
    @include --ghost;
  }
}

@mixin --ghost {
  background-color: $btnBackgroundColor--ghost;
  border: 1px solid $btnBorderColor;
  &:hover,
  &:active,
  &:focus {
    background-color: scale-color($btnBackgroundColor--ghost, $lightness: -10%);
  }
}

.Button {
  @include button-base;
  border-radius: map-get($btnBorderRadius, 'small'); 
  min-width: 120px;
  min-height: 40px;
  padding: 12px 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 1px;
}

.ButtonMedium {
  @include button-base;
  border-radius: map-get($btnBorderRadius, 'medium');
  min-width: 136px;
  min-height: 48px;
  padding: 14px 24px; 

  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.9px;
}

.ButtonLarge {
  @include button-base;
  border-radius: map-get($btnBorderRadius, 'large');
  min-width: 144px;
  min-height: 56px;
  padding: 18px 28px; 

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.8px;
}

.ButtonExtraLarge {
  @include button-base;
  border-radius: map-get($btnBorderRadius, 'extra-large');
  min-width: 160px;
  min-height: 64px;
  padding: 20px 32px;

  font-size: 17px;
  line-height: 1.41;
  letter-spacing: 0.7px;
}

