.ClientLogosWrapper {
  background-color: map-get($brand-bg-colors, 'purple-dark');
}

.ClientLogos {
  padding-top: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-up (md) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__outerRow {
    min-height: 100px;
    @include media-breakpoint-up (lg) {
      min-height: 240px;
    }     
  }
}
