// _Footer.scss

.FooterWrapper {
  background-color: map-get($brand-colors, 'purple-dark');
  font-family: map-get($brand-fonts, 'primary');
  color: white;

  padding-top: 56px !important;
  padding-bottom: 32px !important;
  @include media-breakpoint-up (md) {
    padding-top: 72px !important;
    padding-bottom: 40px !important;
  }
}


