// _Hero.scss

.Hero {
  font-family: map-get($brand-fonts, 'primary' );
  color: map-get($brand-colors, 'purple-dark');
  background-color: map-get($brand-colors, 'cream-white');
  padding-bottom: 64px !important;


  &__image {
    margin-bottom: 16px;
  }

  &__heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
    @include media-breakpoint-up (md) {
      font-size: 40px;
      margin-bottom: 32px;
    }
  }

  &__subHeading {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.72;
    margin-bottom: 36px;
    @include media-breakpoint-up (md) {
      margin-bottom: 40px;
    }
  }

  &__button {
    // Do something
  }
}