// _Hero.scss

.Hero {
  font-family: map-get($brand-fonts, 'primary' );
  color: map-get($brand-colors, 'purple-dark');
  background-color: map-get($brand-colors, 'white-cream');

  padding-bottom: 64px !important;

  &--onPricePage {
    // remove the margin-bottom, because there is
    // no button under the subHeading on the price page
    .Hero__subHeading {
      margin-bottom: 0;
    }
  }  

  &--onPrivacyPage {
    .Hero__heading {
      margin-bottom: 0;
    }
  }  

  /* The hero sits under the TopNav as default,
  so we need to push it down - the values correspond to the 
  height of the nav on various breakpoints */
  margin-top: 64px !important;
  @include media-breakpoint-up (md) {
    margin-top: 96px !important;
    // and add some top-padding to match with specs
    padding-top: 32px;
  }

  &__image {
    margin-bottom: 16px;
  }

  &__heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
    @include media-breakpoint-up (md) {
      font-size: 40px;
      margin-bottom: 32px;
    }
  }

  &__subHeading {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.72;
    margin-bottom: 36px;
    @include media-breakpoint-up (md) {
      margin-bottom: 40px;
    }
  }

  &__button {
    // Do something
  }
}