// _ImageAndCards.scss

.ImageAndCardsWrapper {
  background-color: map-get($brand-colors, 'white-cream');
  padding: 40px 0 24px !important;
  @include media-breakpoint-up(md) {
    padding: 96px 0 88px !important;
  }
}

.ImageAndCards {
  font-family: map-get($brand-fonts, 'primary');

  &__image {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &__firstCardsRow {
    @include media-breakpoint-up(md) {
      margin-bottom: 8px;
    }
  }
}