 // _TopNav.scss

// just a test

.NavBarWrapper {
  background-color: map-get($brand-colors, 'white-cream');
  position: absolute;
  top: 0;
  z-index: 1;
}

/* 

  Remove defaults

*/
.navbar {
  &-brand { margin-right: 0 !important; }
  &-toggler { 
    border: none !important;
    padding: 0 !important;  
  }
}

/* 

  Font Styles

*/
#menu-top-nav .nav-link {
  color: map-get($brand-colors, 'purple-dark') !important;
  font-family: map-get($brand-fonts, 'primary');
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
}

/* 

  Mobile Navigation

*/
@include media-breakpoint-between(xs, sm) {

  .navbar {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .navbar-nav {
    // vertical centering
    justify-content: center;
  }

  .navbar-collapse ul {
    // we need to use interpolation in order to inject the sass variable to the calc function:
    // https://www.geeksforgeeks.org/sass-variable-in-css-calc-function/
    height: calc(100vh - #{$TopNav-mobile-height});
  }

  .menu-item {
    margin-bottom: 8px;
  }

  // set the default font-size for mobile
  .nav-link {
    font-size: 22px;
  }

  .nav-link span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link span:after {
    content: url('../img/icon-24-arrow-right.svg');
    width: 24px;
    height: 24px;
  }
} 


/* 

  Non-Mobile Navigation

*/
@include media-breakpoint-up (md) {

  .navbar {
    min-height: $TopNav-non-mobile-height !important;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .menu-item {
    height: 48px;
    @include flex-center;
    &:first-child     {  margin-left: auto; }
    &:nth-child(n+2)  {  margin-left: 48px; }
    &:last-child      {  margin-left: auto; }
  }

  .navbar-nav { width: 100%; }

  .nav-link {
    font-size: 17px;
    @include flex-center;
    padding: 4px !important;
    position: relative;
  }

  // The book-a-meeting link
  .menu-item:last-child .nav-link {
    height: 100%;
    border: solid 1px map-get($brand-colors, 'yellow-dark');
    border-radius: 16px;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  /* 

  The Animated Line

  */
  .AnimatedLine {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    border-bottom: 1px solid map-get($brand-colors, 'yellow-dark');
    transition: width 170ms ease-in-out 100ms;
    margin-left: 4px;
  }
  .menu-item:not(.current-menu-item) .nav-link:hover .AnimatedLine { 
    width: calc(100% - 8px); 
  }
  .current-menu-item .AnimatedLine {
    width: calc(100% - 8px); 
  }
  
}



