 // _TopNav.scss

.NavBarWrapper {
  background-color: map-get($brand-colors, 'white-cream');
  position: absolute;
  top: 0;
  z-index: 1;
}

/* 

  Font Styles

*/

#menu-top-nav .nav-link {
  color: map-get($brand-colors, 'purple-dark') !important;
  font-family: map-get($brand-fonts, 'primary');
  
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
}


/* 

  Mobile Default Nav

*/


@include media-breakpoint-between(xs, sm) { 
  
}

.navbar {
  min-height: $TopNav-mobile-height !important;
  @include media-breakpoint-up (md) {
    min-height: $TopNav-non-mobile-height !important;
  }
  padding-top: 8px;
  padding-bottom: 8px;

  // remove the default margin-right from .navbar-brand
  &-brand { margin-right: 0 !important; }

  // remove default border from .navbar-toggler
  &-toggler { border: none !important }
}







// encapsulate the mobile styles for the default navbar
@media ( max-width: 767.98px ) { 


  .navbar-nav {
    // vertical centering
    justify-content: center;
  }

  .navbar-collapse ul {
    // we need to use interpolation in order to inject the sass variable to the calc function:
    // https://www.geeksforgeeks.org/sass-variable-in-css-calc-function/
    height: calc(100vh - #{$TopNav-mobile-height});
  }

  #menu-top-nav .menu-item {
    margin-bottom: 8px;
  }

  // set the default font-size for mobile
  .nav-link {
    font-size: 22px;
  }

  .nav-link span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link span:after {
    content: url('../img/icon-24-arrow-right.svg');
    width: 24px;
    height: 24px;
  }
}


@include media-breakpoint-up (md) {
  
  // re-size the font-size for md-up
  .nav-link {
    font-size: 17px;
  }

  #menu-top-nav {
    width: 100%;

    // Menu Items
    & .menu-item {
      height: 48px;
      @include flex-center;
      &:first-child     {  margin-left: auto; }
      &:nth-child(n+2)  {  margin-left: 48px; }
      &:last-child      {  margin-left: auto; }
    }

    // Nav Links
    & .nav-link {
      @include flex-center;
      padding: 4px;
    }

    // The book-a-meeting link
    .menu-item:last-child .nav-link {
      height: 100%;
      border: solid 1px map-get($brand-colors, 'yellow-dark');
      border-radius: 16px;
      padding-left: 24px !important;
      padding-right: 24px !important;
    }

  }

}

/* 

  Fix bug now
  - refactor later

*/


.navbar-toggler {
  padding: 0 !important;
}

/* 

  Add AnimatedBorder - refactor later

*/


.nav-link {
  position: relative;
}

.AnimatedLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  border-bottom: 1px solid map-get($brand-colors, 'yellow-dark');
  transition: width 170ms ease-in-out 100ms;
  margin-left: 4px;
}

.menu-item:not(:last-child) .nav-link:hover .AnimatedLine {
  width: calc(100% - 8px);
}