 // _TopNav.scss

.NavBarWrapper {
  background-color: map-get($brand-colors, 'white-cream');
  position: absolute;
  top: 0;
  z-index: 1;
}

.navbar {
  min-height: $TopNav-mobile-height !important;
  @include media-breakpoint-up (md) {
    min-height: $TopNav-non-mobile-height !important;
  }
  padding-top: 8px;
  padding-bottom: 8px;

  // remove the default margin-right from .navbar-brand
  &-brand { margin-right: 0 !important; }

  // remove default border from .navbar-toggler
  &-toggler { border: none !important }
}

/* 

  NavBar Font Styles

*/

#menu-top-nav .nav-link {
  color: map-get($brand-colors, 'purple-dark') !important;
  font-family: map-get($brand-fonts, 'primary');
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
}


// encapsulate the mobile styles for the default navbar
@media (max-width: 767.98px) { 
  .navbar-nav {
    // vertical centering
    justify-content: center;
  }

  .navbar-collapse ul {
    // we need to use interpolation in order to inject the sass variable to the calc function:
    // https://www.geeksforgeeks.org/sass-variable-in-css-calc-function/
    height: calc(100vh - #{$TopNav-mobile-height});
  }

  .menu-item {
    margin-bottom: 8px;
    font-size: 17px;
  }

  .nav-link span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link span:after {
    content: url('../img/icon-24-arrow-right.svg');
    width: 24px;
    height: 24px;
  }
}


@include media-breakpoint-up (md) {
  // Wrap the md-up styles inside of the id selector
  // in order to overrule the bootstrap default styles more easily
  #menu-top-nav {
    width: 100%;

    // Menu Items
    & .menu-item {
      height: 48px;
      font-size: 22px !important;
      @include flex-center;
      &:first-child     {  margin-left: auto; }
      &:nth-child(n+2)  {  margin-left: 48px; }
      &:last-child      {  margin-left: auto; }
    }

    // The border-bottom
    .menu-item:not(:last-child) .nav-link:hover span,
    .current-menu-item span { 
      border-bottom: 1px solid map-get($brand-colors, 'yellow-dark'); 
    }

    // Nav Links
    & .nav-link {
      @include flex-center;
      padding: 4px;
      // push the span's border bottom downwards
      & span { padding-bottom: 2px; }
    }

    // The book-a-meeting link
    .menu-item:last-child .nav-link {
      height: 100%;
      border: solid 1px map-get($brand-colors, 'yellow-dark');
      border-radius: 16px;
      padding-left: 24px !important;
      padding-right: 24px !important;
    }

  }

}

/* 

  Animate Burger Icon 

*/

