// _PageWrapper.scss

/* 

  The TopNav is absolutely positioned to the top of page,
  so we need to push the page down in order for the content
  to be shown, and not be hidden under the TopNav


*/

.PageWrapper {
  margin-top: 64px !important;
  @include media-breakpoint-up (md) {
    margin-top: 96px !important;
    // and add some top-padding to match with specs
    padding-top: 32px;
  }

  &--onThankYouPage {
    height: 60vh;
  }
}