// _PageWrapper.scss

/* 

  The TopNav is absolutely positioned on top of page,
  so we need to create some top-padding in order 
  to push the content downwards. 

*/

.PageWrapper {
  padding-top: $TopNav-mobile-height !important;
  @include media-breakpoint-up (md) {
    padding-top: $TopNav-non-mobile-height !important;
  }

  &--onThankYouPage {
    height: 60vh;
  }

  &--onBlogPage {
    padding-bottom: 48px !important;
    @include media-breakpoint-up(md) {
      padding-bottom: 96px !important;
    }
  }  
}