// _PhoneToLink.scss


a.PhoneToLink {

  // proceed with caution when adding generic styles
  // that should apply to the class,
  // because its used in a number of places

  // remove default anchor underline
  text-decoration: none;
  
  &--inPrivacyPage {
  
    border-bottom: 0px solid map-get($brand-colors, 'purple-dark');
  
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  
  }

  &--inFooter {
  
    color: map-get($brand-colors, 'yellow-dark');
  
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

}
