// _SubTable.scss

/* 

  Note:
  - we are using empty columns for the gutters,
  in order to be able to define them individually

*/

.SubTable {

  font-family: map-get($brand-fonts, 'primary');
  color: map-get($brand-colors, 'purple-dark');

  display: grid;
  grid-template-columns:
  // the cols correspond to:
  // labels - empty - growth - empty - scale - empty - enterprise 
  1fr 4% 1fr 2% 1fr 2% 1fr;
  grid-template-rows: 
    minmax(48px, auto)    // for "Most popular"
    112px   // start of SubCards
    repeat(12, minmax(48px, auto))
    112px   // end of SubCards
  ;

  // place the lines
  &__lines {
    grid-column: 1 / -1;
    border-top: 1px solid grey;
  }

  & div:nth-child(1) { grid-row: 3; }
  & div:nth-child(2) { grid-row: 4; }
  & div:nth-child(3) { grid-row: 5; }
  & div:nth-child(4) { grid-row: 6; }
  & div:nth-child(5) { grid-row: 7; }
  & div:nth-child(6) { grid-row: 8; }
  & div:nth-child(7) { grid-row: 9; }
  & div:nth-child(8) { grid-row: 10; }
  & div:nth-child(9) { grid-row: 11; }
  & div:nth-child(10) { grid-row: 12; }
  & div:nth-child(11) { grid-row: 13; }
  & div:nth-child(12) { 
    grid-row: 14;
    border-bottom: 1px solid grey; 
  }

  // place the labels
  &__labels {
    grid-column-start: 1;
    display: flex;
    align-items: center;
    padding-left: 16px;
        
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }

  &__labels1 { grid-row: 3; }
  &__labels2 { grid-row: 4; }
  &__labels3 { grid-row: 5; }
  &__labels4 { grid-row: 6; }
  &__labels5 { grid-row: 7; }
  &__labels6 { grid-row: 8; }
  &__labels7 { grid-row: 9; }
  &__labels8 { grid-row: 10; }
  &__labels9 { grid-row: 11; }
  &__labels10 { grid-row: 12; }
  &__labels11 { grid-row: 13; }
  &__labels12 { grid-row: 14; }

  // Most Popular highlight
  &__mostPopular {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($brand-colors, 'yellow-dark');
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    border-radius: 16px 16px 0 0;
    grid-column-start: 5;
    grid-row-start: 1;
  }

}
