/* 

  Make variables for the colors

*/

$bgColor: #fbf9f0;

.SubPromoWrapper {
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(59,1,45,1) 50%);
}

.SubPromo {
  font-family: neue-haas-unica, sans-serif;
  background-color: $bgColor;
  border: 2px solid rgba(60, 0, 46, 0.04);
  border-radius: 24px;
  padding: 24px 14px 64px !important;
  position: relative;
  z-index: 10;
  @include for-md-up {
    padding: 72px 48px 76px 51px !important;
  }

  &__image {
    margin-bottom: 40px;
    @include for-md-up {
      margin-bottom: 0px;
    }
  }

  &__news {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: #ff582d;
    margin-bottom: 8px;
    line-height: 1.71;
  }

  &__heading {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.27;
    color: #3b012d;
    margin-bottom: 24px;
    @include for-md-up {
      font-size: 28px;
      line-height: 1.29;
    }
  }

  &__subHeading {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #3b012d;
    opacity: 0.72;
    margin-bottom: 36px;
  }
}

.Dots {
  // The path for the url starts from 
  // the compiled stylesheet's location
  // - NOT this partition's location 
  display: none;
  background-repeat: no-repeat;
  height: 100px;

  // .Dots--left is located bottom-left
  // and --right is located top-right
  &--left {
    background-image: url("../img/dots--dark.svg");
    margin-top: -50px;  
  }
  &--right {
    background-image: url("../img/dots.svg");
    margin-bottom: -50px;
    // required in order to have the same amounts
    // of dots visible on each side 
    transform: scaleX(-1);
  }
  @include for-md-up {
    display: block;
  }
}