// _SubCards.scss

.SubCardsWrapper {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.SubCard {
  font-family: map-get($brand-fonts, 'primary');
  color: map-get($brand-colors, 'purple-dark');
  margin-bottom: 48px;

  /* 
  
    We need to add the bg-color on each of the scale-card's elements,
    so that __promote does NOT have any bg-color.

    Otherwise there will be a bg-color showing on the top-left and right
    edges of __promote, because of the border-radius.
  
  */
  &--scale {
    & .SubCard__header, 
    & .SubCard__data, 
    & .SubCard__footer {
      background-color: map-get($brand-colors, 'white-cream');
    }
  }

  &__promote {
    // do something if (when) needed
    &--scale {
      @include flex-center;
      height: 48px;
      background-color: map-get($brand-colors, 'yellow-dark');
      border: 1px solid map-get($brand-colors, 'yellow-dark');
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
    }
  }

  &__header {
    padding: 24px 16px 24px; // top horizontal bottom
    border: 1px solid rgba(59, 1, 45, 0.08);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    &--scale {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &__name {
    display: block;
    font-size: 22px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    margin-bottom: 4px;
  }

  &__description {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }

  &__data {
    display: flex;
    align-items: center;
    min-height: 48px;
    border-bottom: 1px solid rgba(59, 1, 45, 0.08);
    border-left: 1px solid rgba(59, 1, 45, 0.08);
    border-right: 1px solid rgba(59, 1, 45, 0.08);
    padding: 8px 16px;
  }

  &__label {
    flex-basis: 70%;
    padding-right: 16px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }

  &__value {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }

  &__footer {
    padding: 24px 16px 28px; // top horizontal bottom
    border-bottom: 1px solid rgba(59, 1, 45, 0.08);
    border-left: 1px solid rgba(59, 1, 45, 0.08);
    border-right: 1px solid rgba(59, 1, 45, 0.08);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  &__priceFrom {
    display: block;
    opacity: 0.5;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
  }

  &__price {
    font-size: 22px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
  }


}