 // _TopNav.scss

.TopNavWrapper {
  background-color: map-get($brand-colors, 'white-cream');
  position: absolute;
  top: 0;
  z-index: 1;


  font-family: map-get($brand-fonts, 'primary');
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
}

.navbar {
  // Note: the padding is included inside of the min-height
  // because of box-sizing => border-box
  min-height: 64px !important;
  @include media-breakpoint-up (md) {
    min-height: 96px !important;
  }

  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-brand {
  margin-right: 0 !important;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: map-get($brand-colors, 'purple-dark') !important;
}


@include media-breakpoint-up (md) {

 // make the top-nav fill all available horizontal space
 #menu-top-nav {
    width: 100%;
    border: 1px solid black;
 }


 .menu-item {
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid red;
 }

 // set the same height for all nav-links
 // and center their content (a span) horizontally and vertically
 .navbar-expand-md .navbar-nav .nav-link { // use nested selectors to overrule bootstrap
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 4px;

    border: 1px solid green;
 }

 // push the first menu-item to the right
 .menu-item:first-child {
    margin-left: auto;
    
 }

 .menu-item:last-child {
    margin-left: auto;
    
 }

  .nav-link span {
    padding-bottom: 2px;
  }

  .current-menu-item span {
    border-bottom: 1px solid #ffc900;
  }

  // add a border bottom on hover on all nav-links
  // except for the last child (the book-link)
  .menu-item:not(:last-child) .nav-link:hover span {
    border-bottom: 1px solid #ffc900;
  }


 // style the book-link
 .menu-item:last-child .nav-link {
    

    height: 100%;

    border: solid 1px map-get($brand-colors, 'yellow-dark');
    border-radius: 16px;
    
    padding-left: 24px !important;
    padding-right: 24px !important;
 }
  

}






