// _variables.scss


$brand-colors: (
  'white-cream': #fbf9f0,
  'purple-dark': #3b012d,
  'yellow': #FFCD00,
  'yellow-dark': #ffc900,
  'red': #ff582d, 
);

// The following var is used for setting the height of TopNav
// and the padding-top of PageWrapper, to push the page-content down.
$TopNav-mobile-height: 64px;
$TopNav-non-mobile-height: 96px;